<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <file>tests/test-activator.php</file>
            <file>tests/test-admin.php</file>
            <file>tests/test-audit-log.php</file>
            <file>tests/test-auth.php</file>
            <file>tests/test-cache.php</file>
            <file>tests/test-circuit-breaker.php</file>
            <file>tests/test-dtos.php</file>
            <file>tests/test-enums.php</file>
            <file>tests/test-installer.php</file>
            <file>tests/test-rest-webhook.php</file>
            <file>tests/test-rest.php</file>
            <file>tests/test-sdk.php</file>
            <file>tests/test-tracker.php</file>
            <file>tests/test-updater.php</file>
            <file>tests/test-wp-http-client.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes/</directory>
            <directory suffix=".php">lib/telex-sdk/src/</directory>
        </include>
    </source>
</phpunit>
