<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <file>tests/Test_Telex_Activator.php</file>
            <file>tests/Test_Telex_Admin.php</file>
            <file>tests/Test_Telex_Audit_Log.php</file>
            <file>tests/Test_Telex_Auth.php</file>
            <file>tests/Test_Telex_Cache.php</file>
            <file>tests/Test_Telex_Circuit_Breaker.php</file>
            <file>tests/Test_Telex_DTOs.php</file>
            <file>tests/Test_Telex_Enums.php</file>
            <file>tests/Test_Telex_Installer.php</file>
            <file>tests/Test_Telex_REST_Webhook.php</file>
            <file>tests/Test_Telex_REST.php</file>
            <file>tests/Test_Telex_SDK.php</file>
            <file>tests/Test_Telex_Tracker.php</file>
            <file>tests/Test_Telex_Updater.php</file>
            <file>tests/Test_Telex_WP_Http_Client.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes/</directory>
            <directory suffix=".php">lib/telex-sdk/src/</directory>
        </include>
    </source>
</phpunit>
